name: asif
on:
    pull_request: 
      branches: 
      - 'main'
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
        - name: step1
          run: echo "${{ github.head_ref }}"
        - run: echo "${{ github.base_ref }}"
        - run: echo "${{ secrets.DEMO }}"
        - run: echo added something
        - run: echo "${{ toJson(github) }}"